@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@font-face {
  font-family: "Mana";
  src: url("./mana.ttf?v=1.18.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ms {
  display: inline-block;
  font: normal normal normal 14px Mana;
  font-size: inherit;
  line-height: 1em;
  text-rendering: auto;
  transform: translate(0, 0);
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ms-mana-b: #a7999e;
  --ms-mana-c: #d0c6bb;
  --ms-mana-g: #9fcba6;
  --ms-mana-r: #f19b79;
  --ms-mana-u: #bcdaf7;
  --ms-mana-w: #fdfbce;
}

.ms-w::before {
  content: "\e600";
  background-color: #fdfbce;
  border-radius: 50%;
  padding: 2px;
}
.ms-u::before {
  content: "\e601";
  background-color: #bcdaf7;
  border-radius: 50%;
  padding: 2px;
}
.ms-b::before {
  content: "\e602";
  background-color: #a7999e;
  border-radius: 50%;
  padding: 2px;
}
.ms-r::before {
  content: "\e603";
  background-color: #f19b79;
  border-radius: 50%;
  padding: 2px;
}
.ms-g::before {
  content: "\e604";
  background-color: #9fcba6;
  border-radius: 50%;
  padding: 2px;
}
.ms-c::before {
  content: "\e904";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}

.ms-0::before {
  content: "\e605";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-1::before {
  content: "\e606";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-2 {
  margin-left: inherit !important;
}
.ms-2::before {
  content: "\e607";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-3::before {
  content: "\e608";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-4::before {
  content: "\e609";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-5::before {
  content: "\e60a";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-6::before {
  content: "\e60b";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-7::before {
  content: "\e60c";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-8::before {
  content: "\e60d";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-9::before {
  content: "\e60e";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-10::before {
  content: "\e60f";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-11::before {
  content: "\e610";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-12::before {
  content: "\e611";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-13::before {
  content: "\e612";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-14::before {
  content: "\e613";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-15::before {
  content: "\e614";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}
.ms-16::before {
  content: "\e62a";
  background-color: #d0c6bb;
  border-radius: 50%;
  padding: 2px;
}